@use '../mixins/bem' as *;
@use '../mixins/function' as *;

@include b(button-group) {
  display: inline-flex;

  & > .stx-button {
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }
  }

  @include m(vertical) {
    flex-direction: column;

    & > .stx-button {
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      &:first-child:not(:last-child) {
        border-top-right-radius: getCssVar('button', 'border-radius');
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: getCssVar('button', 'border-radius');
      }

      &:not(:first-child) {
        margin-left: 0;
        margin-top: -1px;
      }
    }
  }
}
